[Unit]
Description=iBalik Lost & Found (Node.js)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/pup-lost-and-found
EnvironmentFile=/home/ubuntu/pup-lost-and-found/.env
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
